/*

Style for Portfolio

CREATED BY: Aidan MacKenzie
CREATE DATE: 12/19/2023
LAST COMMIT: 12/19/2023

MODIFICATION HISTORY


12 December, 2023
    
    Added style for header classed items

    Added style for all h2 header tags

*/


.header
{

    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;

}

h2
{
    text-decoration: underline;
}